{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title> Blake McFarlane </title>
        <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">

    </head>
    <body>
        <div class="vid">
            <video src="{% static 'videos/bluesmok.mp4' %}" type="video/mp4" autoplay muted style="width:100%; height:100%" class="vid"></video>
        </div>
        <div class="nav">
            <span>about</span>
            <span>projects</span>
            <span>contact</span>
        </div>
        <link href="https://fonts.cdnfonts.com/css/migha" rel="stylesheet">
                
        <span class="header">Blake McFarlane</span>
    </body>
</html>
