{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Kaisei+Decol&family=Roboto:wght@400;900&display=swap" rel="stylesheet">        <link rel="stylesheet" href="{% static 'home.css' %}" />
        <title> Blake McFarlane | Portfolio </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@400;900&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="sidenav">
            <a href="#home">Home</a>
            <a href="#projects">Resume</a>
            <a href="#contact">Contact</a>
        </div>
        <div class="home">
            <div class="content">
                <div class="intro" id="home">
                    <div class="intro-box">
                        <div class="pic">
                            <img style="width:100%" src="{% static 'images/profile_pic.jpeg' %}">
                        </div>
                        <div class="box-style">
                            <div class="box-head">
                                <h1 class="box-font">Who Am I</h1>
                            </div>
                            <div class="box-content">
                                <p class="box-text">I am an ambitious software engineer who loves learning about the way things work!</p>
                            </div>
                        </div>
                        <div class="box-style">
                            <div class="box-head">
                                <h1 class="box-font">Education</h1>
                            </div>
                            <div class="box-content">
                                <img class="usf-logo" src="{% static 'images/usf-logo.png' %}">
                                <h4 class="school-text" style="padding-top:5%">University</h3>
                                <h3 class="school-text">of South Florida</h2>
                                <p class="school-text">Computer Science | 2025</p>                                   
                            </div>
                        </div>
                        <div class="box-style">
                            <div class="box-head">
                                <h1 class="box-font">Fun Facts</h1>
                            </div>
                            <div class="box-content">
                                <h5 style="margin:0" class="facts-head">Nationality</h4>
                                <h3 style="margin:0; padding-bottom:20px"  class="facts-body">South Africa</h2>
                                <h5 style="margin:0" class="facts-head">Steak Temperature</h4>
                                <h3 style="margin:0" class="facts-body">Medium Rare</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="about">
                    <div class="breaker-box"> 
                        <div class="breaker" ></div>
                    </div>
                    <h2 class="school-text">Hello! I'm</h2>
                    <h1 class="about-name" >Blake McFarlane</h1>
                    <div class="socials">
                        <a href="https://www.linkedin.com/in/blake-mcfarlane-587a451a3/" style="text-decoration: none;">
                            <div class="box">
                                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                    <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                                </svg>
                            </div>
                        </a>
                        <a href="https://stackoverflow.com/users/19544912/blake-mcfarlane">
                            <div class="box">
                                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-stack-overflow" viewBox="0 0 16 16">
                                    <path d="M12.412 14.572V10.29h1.428V16H1v-5.71h1.428v4.282h9.984z"/>
                                    <path d="M3.857 13.145h7.137v-1.428H3.857v1.428zM10.254 0 9.108.852l4.26 5.727 1.146-.852L10.254 0zm-3.54 3.377 5.484 4.567.913-1.097L7.627 2.28l-.914 1.097zM4.922 6.55l6.47 3.013.603-1.294-6.47-3.013-.603 1.294zm-.925 3.344 6.985 1.469.294-1.398-6.985-1.468-.294 1.397z"/>
                                </svg>
                            </div>
                        </a>
                        <a href="https://github.com/BlakeMcFarlane" style="text-decoration: none;">
                            <div class="box">
                                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                                </svg>
                            </div>
                        </a>
                    </div>
                    <p class="bio">I’m passionate about bringing ideas to life! I am currently pursuing a bachelors in science from the University of South Florida. I have experience with the Django framework and enjoy turning concepts into something real. When i’m not in class, you can find me with a cup of coffee working on a framework on the fifth floor of my schools library!</p>
                </div>
                <div class="stacks">
                    <div class="stack-text">
                        <h1 class="stack-font">What Powers Me!</h1>
                    </div>
                    <div class="skills">
                        <div class="stack">
                            <img class="stack-icon" src="{% static 'images/django-logo.png' %}">
                        </div>
                        <div class="stack">
                            <img class="stack-icon" src="{% static 'images/python-logo.png' %}">
                        </div>
                        <div class="stack">
                            <img class="stack-icon" src="{% static 'images/react-logo.png' %}">
                        </div>
                        <div class="stack">
                            <img class="stack-icon" src="{% static 'images/c-logo.png' %}">
                        </div>
                        <div class="stack">
                            <img class="stack-icon" src="{% static 'images/jquery-logo.png' %}">
                        </div>
                        <div class="stack">
                            <img class="stack-icon" src="{% static 'images/git-logo.png' %}">
                        </div>
                    </div>
                </div>
                <div class="projects" id="projects">
                    <div class="project-container">
                        <div class="project-title">
                            <h2 style="margin:0">Projects</h1>
                        </div>
                        <div class="project">
                            <div class="project-pic">
                                <img src="{% static 'images/ai-project.png' %}" style="width:100%">
            
                            </div>
                            <div class="project-info">
                                <h1 class='project-name'>Storybook Generator</h1>
                                <p class='project-bio'>Using OpenAI's Chat GTP-3 API to generate a kids storybook with an artificially drawn cover image and text completion.</p>
                                <div class="project-tag">
                                    <h5 class="tag">Django</h5>
                                    <h5 class="tag">API</h5>
                                    <h5 class="tag">HTML</h5>
                                    <h5 class="tag">CSS</h5>
                                    <h5 class="tag">Bootstrap</h5>
                                </div>
                            </div>
                        </div>
                        <div class="project">
                            <div class="project-pic">
                                <img src="{% static 'images/wage-project.png' %}" style="width:100%">
                            </div>
                            <div class="project-info">
                                <h1 class='project-name'>WageWise</h1>
                                <p  class='project-bio'>An online finance calculator which allows users to calculate their gross income as well as calculate their monthly mortgage. Calculations are made based on form submissions which querries pythons built in data structures. </p>
                                <div class="project-tag" style="padding-top:0">
                                    <h5 class="tag">Django</h5>
                                    <h5 class="tag">HTML</h5>
                                    <h5 class="tag">CSS</h5>
                                    <h5 class="tag">Bootstrap</h5>
                                    <h5 class="tag">JavsScript</h5>
                                </div>
                            </div>
                        </div>
                        <div class="project">
                            <div class="project-pic">
                                <img src="{% static 'images/dev-search.png' %}" style="width:100%">
                                
                            </div>
                            <div class="project-info">
                                <h1 class='project-name'>DevSearch</h1>
                                <p class='project-bio'>This was an 18 hour udemy course which built out a social network for developers. Developers can connect, create posts as well as engage with fellow devs.</p>
                                <div class="project-tag">
                                    <h5 class="tag">Django</h5>
                                    <h5 class="tag">HTML</h5>
                                    <h5 class="tag">CSS</h5>
                                    <h5 class="tag">Bootstrap</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact" id="contact">
                    <div class="contact-logo">
                        <h1 class='email-text'>Let's Connect!</h1>
                        
                        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                        <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_ppjmx2th.json"  background="transparent"  speed="1"  class='email-logo' hover loop  autoplay></lottie-player>
                    </div>
                    <div class="contact-form">
                        <form method="POST" class="form">
                            {% csrf_token %}
                    
                            {{form.name}}
                    
                          {{form.email}}

                          {{form.subject}}

                          <button type="submit"  style="font-family: Gill Sans, sans-serif;font-size: larger;">Submit</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>